<div class="gameWrapper">
  <mat-card class="gameScorecard">
    <mat-card-header class="gameScore">
      <!-- TODO: Add user name -->
      <mat-card-subtitle
        >Round: {{ round$ | async }}/{{ totalRounds }}</mat-card-subtitle
      >
      <mat-chip>
        <strong>💰 {{ totalPoints$ | async }}</strong>
        @if(!(burts$ | async) && !(gameEnd$ | async) && !(roundEnd$ | async) &&
        ((balloonSize$ | async) ?? 0) > 0){
        <span style="color: green"> + {{ balloonSize$ | async }}</span>
        }
      </mat-chip>
    </mat-card-header>
    <mat-card-footer>
      <!-- TODO: Correctly show progress, we need to calculate current round vs total and put that in a range of 0 to 100-->
      <mat-progress-bar
        mode="determinate"
        value="{{ progress$ | async }}"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <app-balloon
    [size]="(balloonSize$ | async) ?? 1"
    [emotion]="emotion$"
    (animationInProgress$)="handleAnimationInProgress($event)"
    style="flex-grow: 1;"
  ></app-balloon>

  <div class="gameActions">
    @if(gameEnd$ | async) {
    <button
      mat-flat-button
      color="primary"
      style="width: 100%"
      (click)="onButtonClick(ACTIONTYPE.FINISH)"
    >
      See results
    </button>
    } @else if(roundEnd$ | async){
    <button
      [disabled]="disable"
      mat-flat-button
      color="primary"
      style="width: 100%"
      (click)="onButtonClick(ACTIONTYPE.NEXT_ROUND)"
    >
      Next round
    </button>
    } @else {

    <button
      [disabled]="disable"
      mat-flat-button
      color="accent"
      style="width: 50%"
      (click)="onButtonClick(ACTIONTYPE.PUMP)"
    >
      Inflate
    </button>

    @if((( balloonSize$ | async) ?? 0) > 0) {
    <button
      [disabled]="disable"
      mat-flat-button
      color="primary"
      style="width: 50%"
      (click)="onButtonClick(ACTIONTYPE.COLLECT)"
    >
      Collect <strong> (+ {{ balloonSize$ | async }})</strong>
    </button>
    } }
  </div>
</div>
