<div class="mobile-layout">
  <div class="content">
    <p>game</p>

    <div>total points {{ totalPoints$ | async }}</div>

    <div>
      <app-balloon
        [size]="(balloonSize$ | async) ?? 1"
        [burst]="(burts$ | async) ?? false"
      ></app-balloon>

      <div>round {{ round$ | async }}</div>

      <div>Balloon size {{ balloonSize$ | async }}</div>

      <!-- @if(gameEnd$ | async) {
      <h1>game finished</h1>
      } @else { @if( !(burts$ | async) ) {
      <button mat-flat-button color="primary" (click)="pumpBalloon()">
        🎈 Pump
      </button>
      } @if( !(burts$ | async) && ((balloonSize$ | async) ?? 0) > 0) {
      <button mat-flat-button color="primary" (click)="collectPoints()">
        💰 Collect points
      </button>
      } @if( (burts$ | async)) {
      <button mat-flat-button color="primary" (click)="nextRound()">
        Next round
      </button>
      } } -->

      <div>Exploded: {{ burts$ | async }}</div>
    </div>
    <div class="buttons">
      @if(gameEnd$ | async) {
      <h1>game finished</h1>
      } @else { @if( !(burts$ | async) ) {
      <button mat-flat-button color="primary" (click)="pumpBalloon()">
        🎈 Pump
      </button>
      } @if( !(burts$ | async) && ((balloonSize$ | async) ?? 0) > 0) {
      <button mat-flat-button color="primary" (click)="collectPoints()">
        💰 Collect points
      </button>
      } @if( (burts$ | async)) {
      <button mat-flat-button color="primary" (click)="nextRound()">
        Next round
      </button>
      } }
      <!-- <button mat-button color="primary">Button 1</button>
      <button mat-button color="accent">Button 2</button> -->
    </div>
  </div>

  <!-- Bottom buttons -->
</div>
