<p>game</p>

<div>total points {{ totalPoints$ | async }}</div>
<div *ngIf="gameEnd$ | async; else game">The Game is Over.</div>

<ng-template #game>

  <app-balloon [size]="((balloonSize$ | async) ?? 1)" [burst]="((burts$ | async) ?? false)"></app-balloon>

  <div>round {{ round$ | async }}</div>

  <div>Balloon size {{ balloonSize$ | async }}</div>

  <button *ngIf="!(burts$ | async)" (click)="pumpBalloon()">Pump</button>

  <button
    *ngIf="!(burts$ | async) && ((balloonSize$ | async) ?? 0) > 0"
    (click)="collectPoints()"
  >
    Collect points
  </button>

  <button *ngIf="burts$ | async" (click)="nextRound()">next round</button>

  <div>Exploded: {{ burts$ | async }}</div>
</ng-template>


