<div class="homeWrapper">

  <app-balloon></app-balloon>

  <mat-card>
    <mat-card-content class="homeCard">
      <mat-form-field class="form">
        <mat-label>Insert a username</mat-label>
        <input matInput type="text" [(ngModel)]="username" />
        @if (username) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="username = ''">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
      @if (username) {
      <button mat-flat-button color="primary" (click)="saveUser()">Start</button>
      }
    </mat-card-content>
  </mat-card>

</div>

