:host {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
}

.resultsWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.confettiCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.tableWrapper {
  max-width: 100%;
  overflow: auto;
}

.mat-column-rank {
  max-width: 50px;
}

.mat-column-user {
  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;

}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
